body {
  margin: 0;
  height: 100vh;
  width: 100%;
  color: #fff;
  background: linear-gradient(rgba(16, 2, 58, 0.692), rgba(20, 3, 73, 0.692)),
    url("images/women_programming.jpg");
  background-size: cover;
  background-attachment: fixed;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  cursor: grab;
  overscroll-behavior: none;
}
h1 {
  padding-top: 30px;
  font-size: 40px;
}
h1,
p {
  margin: 0.5em 0 0 0;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
p {
  margin-bottom: 2.5em;
  font-size: 20px;
}
.italics {
  font-style: italic;
}

.font {
  font-size: 10px;
}

div {
  width: 60%;
  margin: 0 auto;
  background-color: rgba(11, 2, 49, 0.786);
  box-shadow: 0 0 5px 0 rgba(43, 27, 105, 0.274);
  max-width: 700px;
  min-width: 300px;
}

form {
  width: 90%;
  margin: 0 auto;
}

label {
  display: block;
  margin: 2em 0 0.3em 0;
}

input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 1.8em;
  border-radius: 3px;
  border: 3px solid #fff;
  font-size: 16px;
}
#current_role,
#favorite {
  color: gray;
  width: 102%;
  min-height: 2.2em;
  min-width: 100%;
}

.inline {
  width: unset;
  width: 1.2em;
  margin: 0 0.3em 0 0;
  vertical-align: middle;
}

fieldset {
  border: none;
}

.spacing {
  margin: 0.5em 0 0 0;
  text-transform: capitalize;
}

.remove-space {
  margin-top: 0.2em;
}

.button-style {
  display: block;
  width: 102%;
  background-color: rgb(13, 122, 13);
  color: #fff;
  height: 3em;
  margin: 1em 0;
  font-size: 1.1em;
  border: none;
  border-radius: 3px;
  min-width: 100%;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border: 3px solid rgba(29, 29, 131, 0.719);
}

#current_role:focus,
#favorite:focus {
  color: black;
}
